asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Deprecated
dj-database-url
Django
django-colorfield
django-cors-headers
django-filter
django-oauth-toolkit
django-phonenumber-field
django-phonenumbers
djangorestframework
drf-social-oauth2
drf-yasg
ecdsa
gunicorn
idna
inflection
jwcrypto
oauthlib
packaging
phonenumbers
Pillow
psycopg2-binary
pyasn1
pycparser
PyJWT
python-decouple
python-jose
python3-openid
pytz
PyYAML
razorpay
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
wrapt
